:root {
  --color-white: #ffffff;
  --color-text-main: #1e1e1e;
  --color-text-secondary: #666666;
  --color-accent-blue: #2587f9;
  --color-accent-green: #2bac68;
  --color-button: #34ae6b;
  --color-bg-light: #eef2fa;
  --color-border: #e0e0e0;
  --font-main: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.body {
  font-size: 45px;
}

.header {
  font-size: 1444px;
}