.promo {
   padding-top: 2.1875rem; // 35px
   padding-bottom: 1.125rem; // 18px
   background-color: var(--color-bg-light);
   position: relative;

   // .promo__container

   &__container {
      display: flex;
   }

   // .promo__inner

   &__right,
   &__left {
      width: 50%;
      display: flex;
      flex-direction: column;
   }
   &__left {
      justify-content: flex-end;
      padding-right: 10px;
   }
   &__right {
      padding-left: 103px;
   }

   // .promo__heading

   &__heading {
      padding-right: 6px;
      padding-bottom: 3px;
      text-align: right;
      text-transform: uppercase;
   }

   // .promo__timer

   &__timer {
   }

   // .promo__btn

   &__btn {
      padding: 25px 69px;
      margin-top: 32px;
      vertical-align: middle;
      align-items: center;
      cursor: pointer;

      position: relative;
      overflow: hidden;
      transition: transform 0.25s ease;
   }

   &__btn::before {
      content: "";

      position: absolute;
      top: 0;
      left: -120%;

      width: 70%;
      height: 100%;

      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.35), transparent);

      transform: skewX(-20deg);
   }

   &__btn:hover {
      transform: translateY(-3px);
   }
   &__btn:hover::before {
      left: 130%;
      transition: left 0.8s ease;
   }

   // .promo__chat

   &__chat {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-black-rgba);
      position: sticky;
      left: 48px;
      bottom: 10px;
   }

   // .promo__chat-btn

   &__chat-btn {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-black);
      cursor: pointer;
      svg {
         color: var(--color-white);
      }
   }
}

// ------------- Адаптив --------------

@media (max-width: 992px) {
   .promo__heading {
      line-height: 1.2;
      max-width: 500px;
      text-align: center;
   }
   .promo__btn {
      padding: 14px 0;
      max-width: 330px;
   }
}

@media (max-width: 576px) {
   .promo {
      padding-top: 15px;
      padding-bottom: 10px;
   }
   .promo__heading {
      font-size: 14px;
   }
   .promo__right {
      padding-left: 30px;
   }
   .promo__btn {
      padding: 10px 0;
   }
   .promo__chat {
      width: 38px;
      height: 38px;
      left: 30px;
      bottom: 30px;
   }
   .promo__chat-btn {
      width: 28px;
      height: 28px;
   }
}
